In [126]:
import pandas as pd

In [127]:
def chase(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')
    
    str_team = team

    team = [team]

    df = df[df['Team'].isin(team)]
    
    df1 = df[df['Action'].isin('Set Target')]
    won = df1['Result'].value_counts()['Won']
    
    
    
    lost = df['Result'].value_counts()['Lost']

In [128]:
def team_results(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')
    
    str_team = team

    team = [team]

    df = df[df['Team'].isin(team)]
    
    won = df['Result'].value_counts()['Won']
    lost = df['Result'].value_counts()['Lost']
    
    if 'No Result' in df['Result'].values:
        no_r = df['Result'].value_counts()['No Result']
    else:
        no_r = 0
    
    
    df_dict = {'Team': [str_team,str_team,str_team],
        'Result': ['Won', 'Lost', 'No Result'],
        'Count': [won,lost,no_r],
          } 
    df = pd.DataFrame.from_dict(df_dict)
    
    return df

In [129]:
a = team_results('New Zealand')

In [130]:
a

          Team     Result  Count
0  New Zealand        Won     22
1  New Zealand       Lost     12
2  New Zealand  No Result      2

In [131]:
def results_batting_first(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')

    str_team = team

    team = [team]

    #team = [team]

    set_target = ['Set Target']

    df = df[df['Team'].isin(team)]

    df1 = df[df['Action'].isin(set_target)]
    won = df1['Result'].value_counts()['Won']

    lost = df1['Result'].value_counts()['Lost']

    if 'No Result' in df1['Result'].values:
        no_r = df['Result'].value_counts()['No Result']
    else:
        no_r = 0

    df_dict = {'Team': [str_team,str_team,str_team],
        'Result': ['Won', 'Lost', 'No Result'],
        'Count': [won,lost,no_r],
          } 
    df = pd.DataFrame.from_dict(df_dict)
    
    return df

In [132]:
a = results_batting_first('New Zealand')
a

          Team     Result  Count
0  New Zealand        Won     10
1  New Zealand       Lost      5
2  New Zealand  No Result      0

In [133]:
def results_bowling_first(team):

    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')

    str_team = team

    team = [team]

    chase = ['Chase']

    df = df[df['Team'].isin(team)]

    df1 = df[df['Action'].isin(chase)]
    won = df1['Result'].value_counts()['Won']

    lost = df1['Result'].value_counts()['Lost']

    if 'No Result' in df1['Result'].values:
        no_r = df['Result'].value_counts()['No Result']
    else:
        no_r = 0

    df_dict = {'Team': [str_team,str_team,str_team],
        'Result': ['Won', 'Lost', 'No Result'],
        'Count': [won,lost,no_r],
          } 
    df = pd.DataFrame.from_dict(df_dict)
    
    return df

In [134]:
a = results_bowling_first('New Zealand')
a

          Team     Result  Count
0  New Zealand        Won     12
1  New Zealand       Lost      7
2  New Zealand  No Result      2

In [135]:
def results_winning_toss_and_chasing(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')

    str_team = team

    team = [team]

    chase = ['Chase']
    toss = ['Won']

    df = df[df['Team'].isin(team)]
    
    df1 = df[df['Toss'].isin(toss)]
    df1 = df1[df1['Action'].isin(chase)]
    
    won = df1['Result'].value_counts()['Won']
    
    lost = df1['Result'].value_counts()['Lost']

    if 'No Result' in df1['Result'].values:
        no_r = df['Result'].value_counts()['No Result']
    else:
        no_r = 0

    df_dict = {'Team': [str_team,str_team,str_team],
        'Result': ['Won', 'Lost', 'No Result'],
        'Count': [won,lost,no_r],
          } 
    df = pd.DataFrame.from_dict(df_dict)
    
    return df

In [136]:
a = results_winning_toss_and_chasing('New Zealand')
a

          Team     Result  Count
0  New Zealand        Won      8
1  New Zealand       Lost      5
2  New Zealand  No Result      2

In [139]:
def results_winning_toss_and_defending(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')

    str_team = team

    team = [team]

    defend = ['Set Target']
    toss = ['Won']

    df = df[df['Team'].isin(team)]
    
    df1 = df[df['Toss'].isin(toss)]
    df1 = df1[df1['Action'].isin(defend)]
    
    won = df1['Result'].value_counts()['Won']
    
    if 'Lost' in df1['Result'].values:
        lost = df1['Result'].value_counts()['Lost']
    else:
        lost = 0

    if 'No Result' in df1['Result'].values:
        no_r = df['Result'].value_counts()['No Result']
    else:
        no_r = 0

    df_dict = {'Team': [str_team,str_team,str_team],
        'Result': ['Won', 'Lost', 'No Result'],
        'Count': [won,lost,no_r],
          } 
    df = pd.DataFrame.from_dict(df_dict)
    
    return df

In [140]:
a = results_winning_toss_and_defending('New Zealand')
a

          Team     Result  Count
0  New Zealand        Won      5
1  New Zealand       Lost      0
2  New Zealand  No Result      0

In [141]:
def results_losing_toss_and_chasing(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')

    str_team = team

    team = [team]

    chase = ['Chase']
    toss = ['Lost']

    df = df[df['Team'].isin(team)]
    
    df1 = df[df['Toss'].isin(toss)]
    df1 = df1[df1['Action'].isin(chase)]
    
    won = df1['Result'].value_counts()['Won']
    
    lost = df1['Result'].value_counts()['Lost']

    if 'No Result' in df1['Result'].values:
        no_r = df['Result'].value_counts()['No Result']
    else:
        no_r = 0

    df_dict = {'Team': [str_team,str_team,str_team],
        'Result': ['Won', 'Lost', 'No Result'],
        'Count': [won,lost,no_r],
          } 
    df = pd.DataFrame.from_dict(df_dict)
    
    return df

In [142]:
a = results_losing_toss_and_chasing('New Zealand')
a

          Team     Result  Count
0  New Zealand        Won      4
1  New Zealand       Lost      2
2  New Zealand  No Result      0

In [143]:
def results_losing_toss_and_defending(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')

    str_team = team

    team = [team]

    defend = ['Set Target']
    toss = ['Lost']

    df = df[df['Team'].isin(team)]
    
    df1 = df[df['Toss'].isin(toss)]
    df1 = df1[df1['Action'].isin(defend)]
    
    won = df1['Result'].value_counts()['Won']
    
    lost = df1['Result'].value_counts()['Lost']

    if 'No Result' in df1['Result'].values:
        no_r = df['Result'].value_counts()['No Result']
    else:
        no_r = 0

    df_dict = {'Team': [str_team,str_team,str_team],
        'Result': ['Won', 'Lost', 'No Result'],
        'Count': [won,lost,no_r],
          } 
    df = pd.DataFrame.from_dict(df_dict)
    
    return df

In [144]:
a = results_losing_toss_and_defending('New Zealand')
a

          Team     Result  Count
0  New Zealand        Won      5
1  New Zealand       Lost      5
2  New Zealand  No Result      0

In [145]:
def action_after_toss_won(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')

    str_team = team

    team = [team]

    toss = ['Won']

    df = df[df['Team'].isin(team)]
    
    df1 = df[df['Toss'].isin(toss)]
    #df1 = df1[df1['Action'].isin(defend)]
    
    won = df1['Action'].value_counts()['Chase']
    
    lost = df1['Action'].value_counts()['Set Target']

    df_dict = {'Team': [str_team,str_team],
        'Action': ['Chase', 'Set Target'],
        'Count': [won,lost],
          } 
    df = pd.DataFrame.from_dict(df_dict)
    
    return df

In [146]:
a = action_after_toss_won('New Zealand')
a

          Team      Action  Count
0  New Zealand       Chase     15
1  New Zealand  Set Target      5

In [147]:
def action_after_toss_lost(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')

    str_team = team

    team = [team]

    toss = ['Lost']

    df = df[df['Team'].isin(team)]
    
    df1 = df[df['Toss'].isin(toss)]
    #df1 = df1[df1['Action'].isin(defend)]
    
    won = df1['Action'].value_counts()['Chase']
    
    lost = df1['Action'].value_counts()['Set Target']

    df_dict = {'Team': [str_team,str_team],
        'Action': ['Chase', 'Set Target'],
        'Count': [won,lost],
          } 
    df = pd.DataFrame.from_dict(df_dict)
    
    return df

In [148]:
a = action_after_toss_lost('New Zealand')
a

          Team      Action  Count
0  New Zealand       Chase      6
1  New Zealand  Set Target     10

In [149]:
def toss_won_result(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')

    str_team = team

    team = [team]

    toss = ['Won']

    df = df[df['Team'].isin(team)]
    
    df1 = df[df['Toss'].isin(toss)]
    #df1 = df1[df1['Action'].isin(defend)]
    
    won = df1['Result'].value_counts()['Won']
    
    lost = df1['Result'].value_counts()['Lost']

    df_dict = {'Team': [str_team,str_team],
        'Result': ['Won', 'Lost'],
        'Count': [won,lost],
          } 
    df = pd.DataFrame.from_dict(df_dict)
    
    return df

In [150]:
a = toss_won_result('New Zealand')
a

          Team Result  Count
0  New Zealand    Won     13
1  New Zealand   Lost      5

In [151]:
def toss_lost_result(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')

    str_team = team

    team = [team]

    toss = ['Lost']

    df = df[df['Team'].isin(team)]
    
    df1 = df[df['Toss'].isin(toss)]
    #df1 = df1[df1['Action'].isin(defend)]
    
    won = df1['Result'].value_counts()['Won']
    
    lost = df1['Result'].value_counts()['Lost']

    df_dict = {'Team': [str_team,str_team],
        'Result': ['Won', 'Lost'],
        'Count': [won,lost],
          } 
    df = pd.DataFrame.from_dict(df_dict)
    
    return df

In [152]:
a = toss_lost_result('New Zealand')
a

          Team Result  Count
0  New Zealand    Won      9
1  New Zealand   Lost      7

In [153]:
def runs_batting_first(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')

    str_team = team

    team = [team]

    action = ['Set Target']
    
    df = df[df['Team'].isin(team)]
    df1 = df[df['Action'].isin(action)]
    df1 = df1.sort_values(by=['Runs Scored'], ascending=False)
    
    return df1

In [154]:
df13 = runs_batting_first('New Zealand')
df13

,Team,Toss,Action,Runs Scored,Wickets Taken,Result,Versus
408,New Zealand,Won,Set Target,360,9,Won,Ireland
430,New Zealand,Lost,Set Target,336,5,Lost,Pakistan
363,New Zealand,Won,Set Target,333,10,Won,Netherlands
209,New Zealand,Won,Set Target,318,10,Won,Bangladesh
436,New Zealand,Won,Set Target,299,10,Won,Pakistan
428,New Zealand,Lost,Set Target,288,5,Lost,Pakistan
424,New Zealand,Lost,Set Target,274,10,Won,Sri Lanka
279,New Zealand,Lost,Set Target,273,10,Won,India
420,New Zealand,Won,Set Target,261,10,Won,Pakistan
418,New Zealand,Lost,Set Target,255,9,Lost,Pakistan
361,New Zealand,Lost,Set Target,246,10,Won,Netherlands
175,New Zealand,Lost,Set Target,232,8,Won,Australia
414,New Zealand,Lost,Set Target,212,10,Won,West Indies
412,New Zealand,Lost,Set Target,190,5,Lost,West Indies
333,New Zealand,Lost,Set Target,108,2,Lost,India

In [155]:
def runs_batting_second(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')

    str_team = team

    team = [team]

    action = ['Chase']
    
    df = df[df['Team'].isin(team)]
    df1 = df[df['Action'].isin(action)]
    df1 = df1.sort_values(by=['Runs Scored'], ascending=False)
    
    return df1

In [156]:
df14 = runs_batting_second('New Zealand')
df14

,Team,Toss,Action,Runs Scored,Wickets Taken,Result,Versus
277,New Zealand,Won,Chase,348,4,Won,India
331,New Zealand,Lost,Chase,337,8,Lost,India
416,New Zealand,Won,Chase,307,8,Won,West Indies
410,New Zealand,Lost,Chase,307,10,Won,Scotland
319,New Zealand,Won,Chase,306,3,Won,India
404,New Zealand,Won,Chase,305,9,Won,Ireland
281,New Zealand,Won,Chase,300,7,Won,India
335,New Zealand,Won,Chase,295,9,Lost,India
422,New Zealand,Lost,Chase,281,9,Won,Pakistan
207,New Zealand,Won,Chase,275,6,Won,Bangladesh
432,New Zealand,Won,Chase,261,6,Lost,Pakistan
179,New Zealand,Won,Chase,242,5,Lost,Australia
434,New Zealand,Won,Chase,232,6,Lost,Pakistan
406,New Zealand,Won,Chase,219,10,Won,Ireland
359,New Zealand,Lost,Chase,204,3,Won,Netherlands
139,New Zealand,Lost,Chase,187,7,Lost,Australia
426,New Zealand,Lost,Chase,159,10,Won,Sri Lanka
205,New Zealand,Won,Chase,132,10,Won,Bangladesh
323,New Zealand,Won,Chase,104,10,No Result,India
177,New Zealand,Won,Chase,82,9,Lost,Australia
321,New Zealand,Won,Chase,0,1,No Result,India

In [157]:
def wickets_taken_bowling_first(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')

    str_team = team

    team = [team]

    action = ['Chase']
    
    df = df[df['Team'].isin(team)]
    df1 = df[df['Action'].isin(action)]
    df1 = df1.sort_values(by=['Wickets Taken'], ascending=False)
    
    return df1

In [158]:
a = wickets_taken_bowling_first('New Zealand')
a

,Team,Toss,Action,Runs Scored,Wickets Taken,Result,Versus
426,New Zealand,Lost,Chase,159,10,Won,Sri Lanka
205,New Zealand,Won,Chase,132,10,Won,Bangladesh
410,New Zealand,Lost,Chase,307,10,Won,Scotland
406,New Zealand,Won,Chase,219,10,Won,Ireland
323,New Zealand,Won,Chase,104,10,No Result,India
335,New Zealand,Won,Chase,295,9,Lost,India
422,New Zealand,Lost,Chase,281,9,Won,Pakistan
404,New Zealand,Won,Chase,305,9,Won,Ireland
177,New Zealand,Won,Chase,82,9,Lost,Australia
331,New Zealand,Lost,Chase,337,8,Lost,India
416,New Zealand,Won,Chase,307,8,Won,West Indies
139,New Zealand,Lost,Chase,187,7,Lost,Australia
281,New Zealand,Won,Chase,300,7,Won,India
207,New Zealand,Won,Chase,275,6,Won,Bangladesh
432,New Zealand,Won,Chase,261,6,Lost,Pakistan
434,New Zealand,Won,Chase,232,6,Lost,Pakistan
179,New Zealand,Won,Chase,242,5,Lost,Australia
277,New Zealand,Won,Chase,348,4,Won,India
359,New Zealand,Lost,Chase,204,3,Won,Netherlands
319,New Zealand,Won,Chase,306,3,Won,India
321,New Zealand,Won,Chase,0,1,No Result,India

In [159]:
def wickets_taken_bowling_second(team):
    
    df = pd.read_excel('assets/Form_analysis/Match_stats_and_results.xlsx')

    str_team = team

    team = [team]

    action = ['Set Target']
    
    df = df[df['Team'].isin(team)]
    df1 = df[df['Action'].isin(action)]
    df1 = df1.sort_values(by=['Wickets Taken'], ascending=False)
    
    return df1

In [160]:
a = wickets_taken_bowling_second('New Zealand')
a

,Team,Toss,Action,Runs Scored,Wickets Taken,Result,Versus
209,New Zealand,Won,Set Target,318,10,Won,Bangladesh
279,New Zealand,Lost,Set Target,273,10,Won,India
361,New Zealand,Lost,Set Target,246,10,Won,Netherlands
363,New Zealand,Won,Set Target,333,10,Won,Netherlands
414,New Zealand,Lost,Set Target,212,10,Won,West Indies
420,New Zealand,Won,Set Target,261,10,Won,Pakistan
424,New Zealand,Lost,Set Target,274,10,Won,Sri Lanka
436,New Zealand,Won,Set Target,299,10,Won,Pakistan
408,New Zealand,Won,Set Target,360,9,Won,Ireland
418,New Zealand,Lost,Set Target,255,9,Lost,Pakistan
175,New Zealand,Lost,Set Target,232,8,Won,Australia
412,New Zealand,Lost,Set Target,190,5,Lost,West Indies
428,New Zealand,Lost,Set Target,288,5,Lost,Pakistan
430,New Zealand,Lost,Set Target,336,5,Lost,Pakistan
333,New Zealand,Lost,Set Target,108,2,Lost,India

In [161]:
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

fig_1 = make_subplots(rows=2, cols=2, shared_yaxes=True)

fig_1.add_trace(go.Bar(x=df13['Versus'], y=df13['Runs Scored'],
                    marker=dict(color=df13['Runs Scored'], coloraxis="coloraxis")),
              1, 1)

fig_1.add_trace(go.Bar(x=df13['Versus'], y=df13['Runs Scored'],
                    marker=dict(color=df14['Runs Scored'], coloraxis="coloraxis")),
              1, 2)

fig_1.add_trace(go.Bar(x=df13['Versus'], y=df13['Wickets Taken'],
                    #marker=dict(color=df13['Wickets Taken'], coloraxis="coloraxis")),
                    ),2, 1)

fig_1.add_trace(go.Bar(x = df14['Versus'], y=df14['Wickets Taken'],
                    marker=dict(color=df14['Wickets Taken'], coloraxis="coloraxis")),
              2, 2)


fig_1.update_layout(coloraxis=dict(colorscale='Bluered_r'), showlegend=False)
#fig_1.update_layout(showlegend=False)
#fig_1.update_xaxes(visible=False)
fig_1.update_yaxes(visible=False)
fig_1.show()