In [55]:
import pandas as pd

In [59]:
df = pd.read_excel('NARENDRA MODI STADIUM - AHMEDABAD.xlsx')

In [60]:
df.head()

  TEAM 1       TEAM 2       WINNER     MARGIN     GROUND
0  INDIA    AUSTRALIA    AUSTRALIA  7 WICKETS  AHMEDABAD
1  INDIA    AUSTRALIA        INDIA    52 RUNS  AHMEDABAD
2  INDIA     ZIMBABWE        INDIA  7 WICKETS  AHMEDABAD
3  INDIA  WEST INDIES  WEST INDIES     2 RUNS  AHMEDABAD
4  INDIA    SRI LANKA        INDIA     6 RUNS  AHMEDABAD

In [61]:
df0 = df.loc[(df['TEAM 1'] == 'INDIA')]
df0 = df0.reset_index(drop=True)

In [62]:
df1 = df.loc[(df['TEAM 2'] == 'INDIA')]
df1 = df1.reset_index(drop=True)

In [63]:
df_conc = pd.concat([df0, df1])
df_conc.reset_index(drop=True)

   TEAM 1        TEAM 2        WINNER     MARGIN     GROUND
0   INDIA     AUSTRALIA     AUSTRALIA  7 WICKETS  AHMEDABAD
1   INDIA     AUSTRALIA         INDIA    52 RUNS  AHMEDABAD
2   INDIA      ZIMBABWE         INDIA  7 WICKETS  AHMEDABAD
3   INDIA   WEST INDIES   WEST INDIES     2 RUNS  AHMEDABAD
4   INDIA     SRI LANKA         INDIA     6 RUNS  AHMEDABAD
5   INDIA   WEST INDIES   WEST INDIES    69 RUNS  AHMEDABAD
6   INDIA      ZIMBABWE         INDIA    61 RUNS  AHMEDABAD
7   INDIA   WEST INDIES         INDIA  5 WICKETS  AHMEDABAD
8   INDIA      PAKISTAN      PAKISTAN  3 WICKETS  AHMEDABAD
9   INDIA     SRI LANKA     SRI LANKA  5 WICKETS  AHMEDABAD
10  INDIA   WEST INDIES   WEST INDIES  3 WICKETS  AHMEDABAD
11  INDIA  SOUTH AFRICA  SOUTH AFRICA    90 RUNS  AHMEDABAD
12  INDIA     AUSTRALIA         INDIA  5 WICKETS  AHMEDABAD
13  INDIA   WEST INDIES   WEST INDIES    16 RUNS  AHMEDABAD
14  INDIA     SRI LANKA         INDIA  6 WICKETS  AHMEDABAD
15  INDIA   WEST INDIES         INDIA  6 WICKETS  AHMEDABAD
16  INDIA   WEST INDIES         INDIA    44 RUNS  AHMEDABAD
17  INDIA   WEST INDIES         INDIA    96 RUNS  AHMEDABAD

In [64]:
total_matches_played = len(df_conc)
total_matches_played

18

In [65]:
wins = len(df_conc.loc[(df_conc['WINNER'] == 'INDIA')])
wins

10

In [66]:
win_percentage = (wins/total_matches_played)*100
win_perc = str(win_percentage)+'%'
win_perc

'55.55555555555556%'