In [29]:
import pandas as pd
import dash_bootstrap_components as dbc

In [30]:
df = pd.read_excel('NARENDRA MODI STADIUM - AHMEDABAD.xlsx')
df0 = pd.DataFrame()
df1 = pd.DataFrame()
teams = 'PAKISTAN'

In [31]:
df.head()

  TEAM 1       TEAM 2       WINNER     MARGIN     GROUND
0  INDIA    AUSTRALIA    AUSTRALIA  7 WICKETS  AHMEDABAD
1  INDIA    AUSTRALIA        INDIA    52 RUNS  AHMEDABAD
2  INDIA     ZIMBABWE        INDIA  7 WICKETS  AHMEDABAD
3  INDIA  WEST INDIES  WEST INDIES     2 RUNS  AHMEDABAD
4  INDIA    SRI LANKA        INDIA     6 RUNS  AHMEDABAD

In [32]:
print(df.loc[(df['TEAM 1'] == teams)])

Empty DataFrame
Columns: [TEAM 1, TEAM 2, WINNER, MARGIN, GROUND]
Index: []

In [18]:
if len(df.loc[(df['TEAM 1'] == teams)])>= 1:
    df0 = df.loc[(df['TEAM 1'] == teams)]
    df0 = df0.reset_index(drop=True)

In [19]:
if len(df.loc[(df['TEAM 2'] == teams)])>= 1:
    df1 = df.loc[(df['TEAM 2'] == teams)]
    df1 = df1.reset_index(drop=True)

In [20]:
if len(df0)>=1 and len(df1)<=1:
    df_conc = df0
    
elif len(df0)<=1 and len(df1)>=1:
    df_conc = df1
    
if len(df0)>=1 and len(df1)>=1:
    df_conc = pd.concat([df0, df1])
    df_conc.reset_index(drop=True)

In [21]:
total_matches_played = len(df_conc)
total_matches_played

1

In [24]:
wins = len(df_conc.loc[(df_conc['WINNER'] == teams)])
wins

1

In [25]:
win_percentage = (wins/total_matches_played)*100
win_perc = str(win_percentage)+'%'
win_perc

'100.0%'

In [39]:
teams = 'PAKISTAN'
stadium = 'NARENDRA MODI STADIUM - AHMEDABAD'
df = pd.read_excel(stadium+'.xlsx')
df0 = pd.DataFrame()
df1 = pd.DataFrame()
df_conc = pd.DataFrame()

In [45]:
if len(df.loc[(df['TEAM 1'] == teams)]) >= 1 or len(df.loc[(df['TEAM 2'] == teams)]) >= 1:
    
    df0 = df.loc[(df['TEAM 1'] == teams)]
    df1 = df.loc[(df['TEAM 2'] == teams)]

    if len(df0) >= 1 and len(df1) <= 1:
        df_conc = df0

    elif len(df0) <= 1 and len(df1) >= 1:
        df_conc = df1

    elif len(df0) >= 1 and len(df1) >= 1:
        print(3)
        df_conc = pd.concat([df0, df1])
        df_conc.reset_index(drop=True)

In [46]:
df_conc

   TEAM 1    TEAM 2    WINNER     MARGIN     GROUND
10  INDIA  PAKISTAN  PAKISTAN  3 WICKETS  AHMEDABAD

In [47]:
    #df_conc = pd.DataFrame(df_conc)

    data_table = dbc.Table.from_dataframe(df_conc, striped=True, bordered=True, hover=True, style={'text-align': 'center'}),

    total_matches_played = len(df_conc)

    wins = len(df_conc.loc[(df_conc['WINNER'] == teams)])

    win_percentage = (wins / total_matches_played) * 100
    win_perc = 'THE WIN PERCENTAGE OF '+teams+' IN ODI AT '+stadium+' IS '+str(win_percentage)+'%'